<%= fields_for(type) do |f| %>
  <div class="col s4 m4">
    <div class="card medium hoverable">
      <div class="card-image">
        <img class="img-responsive" src="<%= item.img_url %>">
      </div>
      <li class="divider"></li>
      <div class="card-content">
        <p>Descripcion: <%= item.descripcion %></p>
        <p>Rendimiento por caja: <%= item.rend_caja %></p>
        <p>Precio: $<%= number_with_delimiter(item.precio, :delimiter => ',') %></p>

        <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition ">
          <i class="material-icons">visibility</i>
        </a>

        <a href="<%= carrito_add_path(item.sku) %>" class="btn-floating btn-small scale-transition shopping_cart">
          <i class="material-icons">shopping_cart</i>
        </a>
        
        <%= f.hidden_field(:sku, value: item.sku) %>
        <%= f.hidden_field(:precio, value: item.precio) %>
        <%= f.hidden_field(:tipo, value: item.tipo) %>
        
      </div>
    </div>
  </div>
<% end -%>
