<% carrito.items.each do |item| %>
  <%= fields_for("items[]", item) do |ff| %>
    <li data-product-sku="<%= item.sku %>">
      <%= ff.hidden_field(:sku, value: item.sku) %>
      <p><%= item.tipo.to_s.titleize %> sku: <%= item.sku %> | Precio: $<%= item.precio %></p>
    </li>
  <% end -%>
<% end -%>