<body background="<%= image_path('mt2.jpg') %>" class="img-responsive">
    <header>
    <nav>
      <ul class="left">
        <li>
          <%= link_to(root_path, class: 'waves-effect btn') do %>
            <i class="material-icons">power_settings_new</i>
          <% end %>
        </li>
      </ul>
      <div class="nav-wrapper">
        <ul id="dropdown1" class="dropdown-content ">
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li><a href="#!">three</a></li>
        </ul>
        <ul class="right">
          <li><a class="dropdown-button waves-effect btn" href="#!" data-activates="dropdown1"><i class="material-icons">add_shopping_cart</i></a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
      <h3 class="w3-bar-item">Menu</h3>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
    <!-- <div class="row">
      <h3>Pisos</h3>

        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat102690'), class: 'category-link') do %>
            <%= image_tag('ceramica.jpg', class: "img-responsive hoverable circle") %>
            <span>Ceramica</span>
          <% end -%>
        </div>
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat552404'), class: 'category-link') do %>
            <%= image_tag('flotante.png', class: "img-responsive hoverable circle") %>
            <span>Flotante</span>
          <% end -%>
        </div>
      </div>

    <div class="row">
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat552357'), class: 'category-link') do %>
            <%= image_tag('madera.jpg', class: "img-responsive hoverable circle") %>
            <span>Madera</span>
          <% end -%>
        </div>
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat991120'), class: 'category-link') do %>
            <%= image_tag('porcelanato.jpg', class: "img-responsive hoverable circle") %>
            <span>Porcelanato</span>
          <% end -%>
        </div>
    </div>
    <div class="row">
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('cat2880013'), class: 'category-link') do %>
            <%= image_tag('vinilico.jpg', class: "img-responsive hoverable circle") %>
            <span>Vinílico</span>
          <% end -%>
        </div>
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat880433'), class: 'category-link') do %>
            <%= image_tag('pastelones.jpg', class: "img-responsive hoverable circle") %>
            <span>Exteriores</span>
          <% end -%>
        </div>
    </div>

    <div class="row">
        <h3>Muros</h3>

        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat102691'), class: 'category-link') do %>
            <%= image_tag('muros.jpg', class: "img-responsive hoverable circle") %>
            <span>Cerámica</span>
          <% end -%>
        </div>
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat358517'), class: 'category-link') do %>
            <%= image_tag('papel.jpg', class: "img-responsive hoverable circle") %>
            <span>Papel Mural</span>
          <% end -%>
        </div>
    </div>

    <div class="row">
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat963904'), class: 'category-link') do %>
            <%= image_tag('living.jpg', class: "img-responsive hoverable circle") %>
            <span>Pinturas</span>
          <% end -%>
        </div>
        <div class="col s3 m3">
          <%= link_to(products_by_category_path('scat358515'), class: 'category-link') do %>
            <%= image_tag('foto.jpg', class: "img-responsive hoverable circle") %>
            <span>Foto Mural</span>
          <% end -%>
        </div>
    </div> -->

    <div class="col s12 m12 carrusel"><!--PISOS-->
      <div class="owl-carousel">
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>

            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transitionfav  hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
        <div class="col s4 m4">
          <div class="card small">
            <div class="card-image">
              <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
              <li class="divider"></li>
            </div>
            <div class="card-content">
              <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                <i class="material-icons">visibility</i>
              </a>
              <!-- Scaled out -->
              <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                <i class="material-icons">favorite</i>
              </a>
              <p>Descripcion:</p>
              <p>Rendimiento por caja:</p>
              <p>Precio:</p>
            </div>
          </div>
        </div><!---->
      </div><!-- end del carrusel pisos-->
      <div class="col s12 m12 "><!--MUROS-->
        <div class="owl-carousel">
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transitionfav  hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
            <div class="card small">
              <div class="card-image">
                <img class="img-responsive" src="http://sodimac.scene7.com/is/image/SodimacCL/2867818_01">
                <li class="divider"></li>
              </div>
              <div class="card-content">
                <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                  <i class="material-icons">visibility</i>
                </a>
                <!-- Scaled out -->
                <a id="add" href="#!" class="btn-floating btn-small scale-transition fav hide">
                  <i class="material-icons">favorite</i>
                </a>
                <p>Descripcion:</p>
                <p>Rendimiento por caja:</p>
                <p>Precio:</p>
              </div>
            </div>
          </div>
        </div><!-- end del carrusel muros-->
      </div>
  </div>
  
</body>