<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<div class="navbar-fixed"><!--navbar-->
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">
        <%= image_tag('logo.png') %>
      </a>
      <ul class="left">
        <li><a class="dropdown-button btn-flat" href="#!" data-activates="dropdown1"><i class="material-icons car">add_shopping_cart</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="fondo img-responsive">
  <div class="left-sidebar">
    <div class="container">
      <h5>Muros</h5>
      <!-- MUROS -->
      <div class="row">
        <div class="col s4 m4 l4">
          <%= link_to(products_by_category_path(categories_types[:muro], 'scat358517'), class: 'category-link') do %>
            <%= image_tag('papel.jpg', class: 'circle hoverable') %>
            <span>Papel</span>
          <% end -%>
        </div>
        <div class="col s4 m4 l4">
          <%= link_to(products_by_category_path(categories_types[:muro], 'scat102690'), class: 'category-link') do %>
            <%= image_tag('muros.jpg', class: 'circle hoverable', id: 'dos') %>
            <span class="title">Ceramica</span>
          <% end -%>
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col s4 m4 l4 segundo">
          <%= link_to(products_by_category_path(categories_types[:muro], 'scat963904'), class: 'category-link') do %>
            <%= image_tag('living2.jpg', class: 'circle hoverable') %>
            <span>Pintura</span>
          <% end -%>
        </div>
        <div class="col s4 m4 l4 segundo">
          <%= link_to(products_by_category_path(categories_types[:muro], 'scat963248'), class: 'category-link') do %>
            <%= image_tag('foto.jpg', class: 'circle hoverable', id: 'dos') %>
            <span class="title">Decomural</span>
          <% end -%>
        </div>
      </div>
    
      <!-- PISOS -->
      <h5 style="margin-top:-5px;">Pisos</h5>

      <div class="row">
        <div class="col s4 m4 l4">
          <%= link_to(products_by_category_path(categories_types[:piso], 'scat963885'), class: 'category-link') do %>
            <%= image_tag('ceramica.jpg', class: 'circle hoverable') %>
            <span>ceramica</span>
          <% end -%>
        </div>
        <div class="col s4 m4 l4">
          <%= link_to(products_by_category_path(categories_types[:piso], 'scat552404'), class: 'category-link') do %>
            <%= image_tag('flotante.png', class: 'circle hoverable', id: 'dos') %>
            <span class="title">Flotante</span>
          <% end -%>
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col s4 m4 l4 segundo">
          <%= link_to(products_by_category_path(categories_types[:piso], 'scat552357'), class: 'category-link') do %>
            <%= image_tag('madera.jpg', class: 'circle hoverable') %>
            <span>Madera</span>
          <% end -%>
        </div>
        <div class="col s4 m4 l4 segundo">
          <%= link_to(products_by_category_path(categories_types[:piso], 'scat991120'), class: 'category-link') do %>
            <%= image_tag('porcelanato.jpg', class: 'circle hoverable', id: 'dos') %>
            <span class="title">Porcelanato</span>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m4 l4 segundo">
          <%= link_to(products_by_category_path(categories_types[:piso], 'cat2880013'), class: 'category-link') do %>
            <%= image_tag('vinilico.jpg', class: 'circle hoverable') %>
            <span>Vinilico</span>
          <% end -%>
        </div>
        <div class="col s4 m4 l4 segundo">
          <%= link_to(products_by_category_path(categories_types[:piso], 'scat880433'), class: 'category-link') do %>
            <%= image_tag('pastelones.jpg', class: 'circle hoverable', id: 'dos') %>
            <span class="title">Exterior</span>
          <% end -%>
        </div>
      </div>
    </div><!--container botonera-->
  </div><!--left-sidebar-->

  <div class="main-container">
    <%= form_for(:product_pair, url: carrito_add_path, html: {id: 'piso_muro_form', format: 'json'}) do |f| %>
      <%= f.submit("Agregar al carrito", class: 'btn') %>

      <!--CARRUSEL MUROS -->
      <div class="slick-carousel" id="muros_carousel">
      </div>
      <!-- CARRUSEL MUROS-->

      <!-- CARRUSEL PISOS -->
      <div class="slick-carousel" id="pisos_carousel">
      </div>
      <!--CARRUSEL PISOS -->

    <% end -%>
  </div><!--main container -->
</div><!--fondo-->

<footer></footer>